<!-- //Ruta: mysite/accounts/templates/home.html
     
Detalle: En este archivo se define la estructura HTML para la pagina principal del sitio web. Se extiende una plantilla base y se incluye contenido de bienvenida.

Que hace: Proporciona una interfaz de bienvenida para los usuarios que visitan la pagina principal del sitio web.

llamado por: La vista de la pagina principal en views.py
  -->

{% extends 'base.html' %}
{% block content %}

<h1>Bienvenido a la Pagina Principal</h1>
<p>Esta es la pagina principal de nuestro sitio web.</p>

{% endblock %}
